<style>
  td {
    display: table-cell;
  }
  p.open_table{
    cursor: pointer;
    text-align: left;
    height: 40px;
    line-height: 40px;
    text-decoration: underline;
    color: #616FC5;
  }
  p.open_table a{
    float: right;
    line-height: initial;
  }
  .paint_table > p{
    color: green;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .hidden_container .circle {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  p.title{
    cursor: pointer;
    display: inline-block;
  }
  p.title span{
    text-decoration: underline;
    color: #616FC5;
    padding-right: 1em;
  }
  a.lock_chat {
    padding-left: 2em;
    border: 0;
  }
  a.lock_chat > svg{
    width: 12px;
    height: 12px;
  }
  
  #chat_container {
    /*position: fixed;
    top: 0;
    right: 0;
    */
    overflow: hidden;
    width: 100%;
    /*height: 100%;*/
    min-height: 320px;
    position: relative;
    /*z-index: 11;*/
    display: block;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    /*
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    */
}

#chat_container.container-active {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

#chat_sidebar {
  position: relative;
  /*
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;*/
    background: #ffffff;
    /*width: 320px;*/
    min-width: unset;
    overflow-y: auto;
    padding: 20px 30px 10px;
    /*z-index: 999;*/
}

#chat_header i.close {
    display: inline-block;
    font-style: normal;
    float: right;
    cursor: pointer;
}
  #chat_history{
    position: relative;
}
  
  #chat{
    position: absolute;
    display: block;
    height: 50px;
    margin: 0 10px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding: 10px 50px 0 0;
  }
  #message{
    /*float: left;*/
    display: inline-block;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 40px;
    outline: none;
}
  #chat button.btn{
    position: absolute;
    /*float: left;*/
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 0;
  }
  
  #chat button.btn svg{
    transform: translateX(-50%);
  }
  
   
  
  
  .messages-container{
    position: relative;
  }

.messages {
  padding: 8px 8px 50px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  overflow: auto;
  font: 14px/1.3 sans-serif;
  height: 100%;
  min-height: 300px;
  max-height: 480px;
}

.messages li {
  list-style-type: none;
  margin: 2px 50px 2px 0;
  float: left;
  border-radius: 8px;
  padding: 8px;
  color: black;
  position: relative;
  z-index: 1;
  background: #eee;
}

.messages li.mine {
  margin: 2px 0 2px 50px;
  align-self: flex-end;
  z-index: 0;
  background: #616FC5;
  color: #fff;
}

.messages li.bold {
  font-weight: 600;
}
  
@supports(mix-blend-mode: screen) {
  .messages-container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#47C0BE 0%, #616FC5 100%);
    mix-blend-mode: screen;
    pointer-events: none;
  }
  
  .messages li.mine {    
    background: black;
  }
}

  #chat_list thead th{
    cursor: pointer;
  }
</style>
<div class="page-width">
  <div class="section-header text-center">
    <h4>{{ customer.first_name }}'s Account</h4>
    
    <a href = "/account/logout" style="cursor:pointer;">Log out</a>
    
    {% if customer.tags contains 'designer' %}<br>
    <a href="#">My Designs</a><br>
    <a href="/pages/designer">Create a Design</a><br>
    <a href="/collections/list-designs/designer:{{customer.id}}">Edit a Design</a>
    {% elsif customer.tags contains 'admin' %}<br>
    <a href="/pages/designer">Create a Design</a><br>
    <a href="/collections/list-designs">Edit a Design</a><br>
    <a href="/pages/request">Review requests</a>
    {% endif %}
  </div>

  <div class="grid myaccount">
    <div class="grid__item">
      <h2>Your Designs</h2>

      {% paginate customer.orders by 500 %}
        
      
          {% if customer.tags contains 'designer' or customer.tags contains 'admin' %}
            <table class="responsive-table" id="chat_list">
              <thead>
                <tr><th>Chat</th></tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          {% else %}
      
      		{% if customer.orders.size > 0 %}
      
      
      		  {% assign collection_handle_array = '' %}
              {% assign product_handle_array = '' %}
              {% for order in customer.orders %}
                {% for line_item in order.line_items %}
                  {% assign line_item_handle = line_item.url | split: '?' | first | split: '/' | last %}
                  {% assign product = all_products[line_item_handle] %}
                  {% unless collection_handle_array contains product.collections[0].handle %}
                    {% assign collection_handle_array = collection_handle_array | append: ',' | append: product.collections[0].handle %}
                  {% endunless %}
                  {% unless product_handle_array contains product.handle %}
                    {% assign product_handle_array = product_handle_array | append: ',' | append: product.handle %}
                  {% endunless %}	

                {% endfor %}
              {% endfor %}

      
              {% assign collection_handle_array = collection_handle_array | remove_first: ',' | split: ','%}
              {% assign product_handle_array = collection_handle_array | remove_first: ',' | split: ','%}
      
            <table class="responsive-table">
              <thead>
                <tr><th>Room Designs</th></tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                {% assign order_item = forloop.index %}
                {% for line_item in order.line_items %}
                {% assign line_item_handle = line_item.url | split: '?' | first | split: '/' | last %}
                {% assign product = all_products[line_item_handle] %}
                {% if product.tags contains 'main' %}
                <tr>
                  <td> 
                    <p class="open_table" data-id="{{ order_item }}">
                      {{ product.title }}
                    </p>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
      
      		{% else %}
      		<p>{{ 'customer.orders.none' | t }}</p>
          	{% endif %}
      
      
          {% endif %}
      
      
      
      
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
      {% endpaginate %}
    </div>
  </div>
  
  {%- if customer.tags contains 'designer' -%}
  <div id="request-wrapper" style="display:none;">
    <h2>My update request</h2>
    <table class="responsive-table">
      <thead><tr><th>Design</th><th>Notes</th><th>Dismiss</th></tr></thead>
      <tbody id="request-body"></tbody>
    </table>
  </div>
  {%- endif -%}
  
  {%- if customer.tags contains 'designer' or customer.tags contains 'admin' -%}
  <h2>My Designs</h2>
  <div id="designer_collection"></div>
  {%- endif -%}
  
</div>
{%- if customer.tags contains 'designer' or customer.tags contains 'admin' -%}
<script type="text/template" id="chat_template">
  <div id="chat_container" style="display: none">
    <div id="chat_sidebar">
      <div id="chat_history">
        <div class="messages-container">
          <ol class="messages">
                <li{% if customer.tags contains 'designer' %} class="mine"{%endif%}>
                  Thank you for purchasing my design. As the 1st step to building your dream room<br>
                  a.  Please attach the pictures of your space with all the walls and ceiling captured.<br>
                  b.  Please send the dimensions of the room.
                </li>
          </ol>
        </div>
        <form id="chat">
          <input type="text" name="message" id="message" placeholder="Message for the designer" minlength="3" autocomplete="off" required>
          <button type="submit" class="btn">{% include 'icon-chevron-right' %}</button>
        </form>
      </div>
    </div>
  </div>
</script>
{% if customer.tags contains 'admin' %}
  {% assign user_type = 'a' %}
{% elsif customer.tags contains 'designer' %}
  {% assign user_type = 'd' %}
{% endif %}
{%- endif -%}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('p.open_table').on('click', function(){
      var id = $(this).attr('data-id');
      window.location.href = "/collections/merchandise?page="+id;
    });
    
    {%- if customer.tags contains 'designer' or customer.tags contains 'admin' -%}
    $('#chat_list tbody').on('click', 'p.title', function(){
      if ( $(this).hasClass('active') ){
        $('#chat_container').slideToggle(250);
      }else{
        $('p.title').addClass('active');
        var $this = $(this);
        $('#chat_container').remove();
        $this.parent('td').children('div.chat_container').empty().append($('#chat_template').html());
        var order_id = $(this).attr('data-order');
        $.ajax({
          url: 'https://api.panacche.com/chat',
          method: 'POST',
          async: false,
          data: {id: order_id },
          jsonpCallback: 'dp',
          dataType : 'jsonp',
          contentType: 'application/json; charset=utf-8',
          success: function(response){
            $('p.title').removeClass('active');
            $this.addClass('active');
            var cls = '';
            $(response).each(function(t){
              cls = '';
              if ( response[t].user == 'a' && user_type != 'a' ){
                cls = ' class="bold"';
              }else if ( response[t].user == 'c' && user_type == 'a' ){
                cls = ' class="bold"';
              }else if ( user_type == response[t].user ){
                cls = ' class="mine"';
              }
              $('ol.messages').append('<li'+cls+'>'+response[t].message+'</li>');
            })
            $('#chat_container').slideDown(250);
            $this.parent('td').children('div.chat_container').slideDown(500);
          },
          error: function(XMLHttpRequest) {
            console.log(XMLHttpRequest);
          }
        });
      }
    })
    
    var user_type = '{{ user_type }}';
    var id_designer = {{ customer.id }};
    $.ajax({
      url: 'https://api.panacche.com/chat/list_chats',
      method: 'POST',
      async: true,
      {%- if customer.tags contains 'admin' -%}
      data: {user_type: 'a' },
      {%- else -%}
      data: {id: id_designer },
      {%- endif -%}
      jsonpCallback: 'dp',
      dataType : 'jsonp',
      contentType: 'application/json; charset=utf-8',
      success: function(response){
        var cls = '', $chat_title = '';
        $(response).each(function(t){
          var arr_title = response[t].title.split('|');
          var product_title = '';
          if(response[t].last_msg == 'c'){
            product_title = '<span><b>'+arr_title[0]+'</b></span>';
          }else{
            product_title = '<span>'+arr_title[0]+'</span>';
          }
          
          var title = product_title+arr_title[1];
          {%- if customer.tags contains 'admin' -%}
          var lock_icon = ' - Completed';
          if ( response[t].status == 1){ //active
            lock_icon = '<a href="javascript:void(0);" class="lock_chat" data-id="'+response[t].id_order+'" title="Lock chat">{% include 'icon-lock' %}</a>';
          }
          {%- else -%}
          var lock_icon = '';
          if ( response[t].status != 1){ //active
            lock_icon = ' - Completed';
          }
          {%- endif -%}
          
          $chat_title = '<tr><td><p class="title" data-order="'+response[t].id_order+'">'+title+'</p>'+lock_icon+'<div class="chat_container"></div></td></tr>';
          $('#chat_list tbody').prepend($chat_title);
        })
      },
      error: function(XMLHttpRequest) {
        console.log(XMLHttpRequest);
      }
    });
    
    {%- if customer.tags contains 'designer' -%}
    $(window).on('load', function() {
      $.ajax({
        url: 'https://api.panacche.com/request/list_rejected',
        method: 'POST',
        async: true,
        data: {id: {{ customer.id }} },
        jsonpCallback: 'dp',
        dataType : 'jsonp',
        contentType: 'application/json; charset=utf-8',
        success: function(json){
          if (json.length > 0){
            $('#request-wrapper').show();
              $(json).each(function(index, row){
                $('#request-body').append('<tr><td><p>'+row.title+'</p></td><td><p>'+row.notes+'</p></td><td><i class="fa fa-close" data-id="'+row.id+'"></i></td></tr>');
              });
          }
        },
        error: function(XMLHttpRequest) {
          console.log(XMLHttpRequest);
        }
      });
    });
    {%- endif -%}
    
    $('body').on('click', '#chat button', function(e){
      var order_id = $(this).closest('td').children('p.title').attr('data-order');
      e.preventDefault();
      var message = $('#chat input').val();
      if ( message.length > 0 ){
        $('#chat button').prop('disabled', true);
        $.ajax({
          url: 'https://api.panacche.com/chat/send',
          method: 'POST',
          async: true,
          data: {id: order_id, user: user_type, message: message },
          success: function(response){
            $('ol.messages').append('<li class="mine">'+message+'</li>');
            $('#chat input').val('');
            $('#chat button').prop('disabled', false);
          },
          error: function(XMLHttpRequest) {
            console.log(XMLHttpRequest);
            return false;
          }
        });
      }
    });

    {%- endif -%}
    
    
    {%- if customer.tags contains 'designer' or customer.tags contains 'admin' -%}
    $('#chat_list thead th').on('click', function(e){
      $('#chat_list tbody').slideToggle();
    });
    {%- if customer.tags contains 'designer' -%}
    var url = '/collections/list-designs/designer:{{ customer.id }}?view=layout_none&page=1';
    {%- else -%}
    var url = '/collections/list-designs?view=layout_none&page=1';
    {%- endif -%}
    
    $.ajax({
      url: url,
      cache: false,
      type: 'GET',
      async: true,
      success: function(data){
        $('#designer_collection').html(data);
  	  }
    });
  	$('body').on('click', 'a.action_url', function(e){
      var url = $(this).attr('data-url');
      $.ajax({
        url: url,
        cache: false,
        type: 'GET',
        async: true,
        success: function(data){
          $('#designer_collection').html(data);
        }
      });
  	});
  
  	$('body').on('click', 'a.lock_chat', function(e){
      var r = confirm("You are about to lock the chat, this action can't be reverted\nPlease confirm to finish the conversation.");
      var $this = $(this); 
      if (r) {
        var order_id = $this.attr('data-id');
        $this.fadeOut(150);
        $.ajax({
          url: 'https://api.panacche.com/chat/lock',
          method: 'POST',
          async: true,
          data: {order_id: order_id},
          success: function(response){
            $this.remove();
          },
          error: function(XMLHttpRequest) {
            console.log(XMLHttpRequest);
            return false;
          }
        });
      }else{
        return false;
      }
    });
  	{%- endif -%}
  });
  
  
  
    $('#clear').on('click',function(e){
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: '/cart/clear.js',
        success: function(){
           window.location.href =  'https://panacche.com/account/logout'
        },
        dataType: 'json'
      });
  	})
</script>