{% if customer %}
{% if customer.tags contains 'designer' or customer.tags contains 'admin' %}
<style>
  .full-btn{
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100% !important;
  }
  button.control_btn {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    line-height: 12px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
  button.control_btn:focus{
    outline: 0;
  }
  button.control_btn.add {
    border: solid 1px green;
    color: green;
    background-color: palegreen;
  }
  button.control_btn.remove {
    border: solid 1px red;
    color: red;
    background-color: #ffdddd;
  }
  table.color-table input{
    margin: 0;
  }
  label{
    position: relative;
  }
  label[for]{
    font-weight: 600;
  }
  .merchandise img.thumb{
    max-width: 100%;
    max-height: 100px;
  }
  input[type="number"]{
    padding-left: 20px;
  }
  .price_item{
    position: relative;
  }
  .dollar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }
  input.color_picker{
    text-shadow: 0 0 3px #fff;
  }
  input.tbl_color,
  input.m_file{
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .color-table .full-btn{
    min-height: 30px;
    min-width: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: inline-block;
  }
  .uppy-Dashboard-poweredBy{
    display: none !important;
  }
  .form-vertical [type="submit"], .form-vertical .btn {
    display: inline-block;
  }
  .form-vertical label.btn {
    margin-bottom: 5px;
  }
  .color-table i.info,
  .color-table .btn span{
    font-size: 12px;
    font-weight: 500;
    font-family: initial;
    text-shadow: 0 0 4px black;
  }
</style>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <!--<h4>{{ page.title }} - {{customer.name}}</h4>-->
      </div>
      <div class="form-vertical">
        <form id="create_form" class="merchandise-form" action="https://api.panacche.com/upload" method="post" enctype="multipart/form-data">
          <input type="hidden" name="customer_id" id="customer_id" value="{{customer.id}}">
          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="name">Design name</label>
              <input type="text" name="name" id="name" value="" autocomplete="off" required>
            </div>
            
            <div class="grid__item medium-up--one-quarter">
              <label for="price">Price</label>
              <div class="price_item">
                <input type="number" name="price" id="price" min="100" max="99999" step="0.01" value="100.00" required>
                <span class="dollar">$</span>
              </div>
            </div>
            
            <div class="grid__item medium-up--one-quarter">
              <label for="budget">Room Budget</label>
              <div class="price_item">
                <input type="number" name="budget" id="budget" min="100" max="99999" step="0.01" value="100.00" required>
                <span class="dollar">$</span>
              </div>
            </div>
            
            <div class="grid__item medium-up--one-half">
              <label for="room_type">Room Type</label>
              <select name="room_type" id="room_type" value="" autocomplete="off" required>
                <option value="">Select a Room Type</option>
                {% for link in linklists.room-type.links %}
                <option value="{{ link.title }}">{{ link.title }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="grid__item medium-up--one-half">
              <label for="room_style">Room Style</label>
              <select name="room_style" id="room_style" value="" autocomplete="off" required>
                <option value="">Select a Room Style</option>
                {% for link in linklists.room-style.links %}
                <option value="{{ link.title }}">{{ link.title }}</option>
                {% endfor %}
              </select>
            </div>
            
            
            <div class="grid__item medium-up--one-whole">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="1" rows="5" required></textarea>
            </div>
            
            
            <div class="grid__item medium-up--one-whole">
              <p>Images</p>
              <input type="hidden" name="image_array" id="image_array">
              <!--
              <div class="image-container" id="list"></div>
              <label for="files" class="btn full-btn">Select Images</label>-->
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <div id="choose-files" class="grid__item medium-up--one-whole"></div>
            <div id="local-photos"></div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <div class="grid__item medium-up--one-whole">
              <label for="guide">Implementation guide, tips, options</label>
              <textarea name="guide" id="guide" cols="1" rows="5" required></textarea>
            </div>
            
            
            <div class="grid__item medium-up--one-whole">
              <label for="description">Color Paint</label>
              <table class="responsive-table color-table">
                <thead>
                  <tr>
                    <th>Options</th>
                    <th>Color</th>
                    <th>Vendor</th>
                    <th>Name</th>
                    <th>Application</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><button type="button" class="control_btn add">+</button> <button type="button" class="control_btn remove">×</button></td>
                    <td>
                      <label class="btn btn--small full-btn"><span>Select a color image</span>
                        <input type="file" name="tbl_color[]" class="tbl_color" style="width: 1px;height: 1px;opacity: 0;position: absolute;right: 0;bottom: 0;" required>
                      </label>
                      {% comment %}<input type="text" name="tbl_color[]" class="color_picker" readonly autocomplete="off" required>{% endcomment %}
                    </td>
                    <td><input type="text" name="tbl_vendor[]" autocomplete="off" required></td>
                    <td><input type="text" name="tbl_name[]" autocomplete="off" required></td>
                    <td><input type="text" name="tbl_app[]" autocomplete="off" required></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="grid__item medium-up--one-whole" id="merchandise_container">
              <button type="button" id="merchandise_btn" class="btn full-btn">Add Merchandise</button>
            </div>
            
            
            <div class="grid__item medium-up--one-whole">
              <button type="submit" id="submit" class="btn full-btn" disabled="disabled">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script id="row_tpl" type="text/template">
<tr>
<td><button type="button" class="control_btn add" tabindex="-1">+</button> <button type="button" class="control_btn remove" tabindex="-1">×</button></td>
<td><label class="btn btn--small full-btn"><span>Select a color image</span><input type="file" name="tbl_color[]" class="tbl_color" required></label></td>
{% comment%}<td><input type="text" name="tbl_color[]" class="color_picker" readonly autocomplete="off" required></td>{%endcomment%}
<td><input type="text" name="tbl_vendor[]" autocomplete="off" required></td>
<td><input type="text" name="tbl_name[]" autocomplete="off" required></td>
<td><input type="text" name="tbl_app[]" autocomplete="off" required></td>
</tr>
</script>
<script id="merchandise_tpl" type="text/template">
  <div class="merchandise">
    <div class="grid">
      <div class="grid__item medium-up--one-half">
        <label for="">Merchandise</label>
        <input type="text" name="m_name[]" value="" autocomplete="off" maxlength="255" required>
      </div>

      <div class="grid__item medium-up--one-half">
        <label for="">Price</label>
        <div class="price_item">
          <input type="number" name="m_price[]" min="0" max="9999" step="0.01" value="1.00" required>
          <span class="dollar">$</span>
        </div>
      </div>
	</div>
    <div class="grid">
      <div class="grid__item medium-up--one-half">
        <label for="">Description (Sourcing/vendor)</label>
        <textarea name="m_description[]" cols="1" rows="5" maxlength="255" maxlength="255" required></textarea>
      </div>
      
      <div class="grid__item medium-up--one-half">
      	<label class="btn btn--small full-btn">Select Image
      	<input type="file" name="m_file[]" class="m_file" required>
        </label>
        <img src="" class="thumb hide">
	  </div>
	</div>
    <div class="grid">
      <div class="grid__item medium-up--one-half">
        <label for="">Specification (Size)</label>
        <input type="text" name="m_size[]" value="" autocomplete="off" maxlength="255" required>
      </div>

      <div class="grid__item medium-up--one-half">
        <label for="">URL</label>
        <input type="text" name="m_url[]" value="" autocomplete="off" maxlength="255" required>
      </div>
	</div>
    <div class="grid">
      <div class="grid__item medium-up--one-whole text-right">
        <button class="btn remove_merchandise" type="button">Remove</button>
        <hr>
      </div>
    </div>
  </div>
</script>
<!--<script src="{{ 'jquery.filer.min.js' | asset_url }}" defer="defer"></script>-->
<script defer="defer">
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#merchandise_btn').on('click', function(){
      var html = $('#merchandise_tpl').html();
      $('#merchandise_btn').after(html);
    });
	$('#merchandise_container').on('click', '.btn.remove_merchandise', function(){
      $(this).closest('.merchandise').remove();
    });
    $('.merchandise-form').on('click', 'button.control_btn.add', function(){
      var html = $('#row_tpl').html();
      $('.color-table tbody').append(html);
    });
    $('.merchandise-form').on('click', 'button.control_btn.remove', function(){
      if ($('.color-table tbody tr').size() > 1 ){
        $(this).closest('tr').remove();
      }
    });
    
    $(document).ready(function() {
      $('input.color_picker').ColorPicker({
        color: '#888888',
        onShow: function (colpkr) {
          $(colpkr).fadeIn(500);
          return false;
        },
        onHide: function (colpkr) {
          $(colpkr).fadeOut(500);
          return false;
        },
        onChange: function (hsb, hex, rgb) {
          $('input.color_picker').val('#'+hex).css('background-color','#'+hex);
        }
      });
    });
    
    function readURL(input) {
      
    }
    
    $('body').on('change','.m_file',function(){
      var input = this;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(input).closest('.grid__item').find('img').attr('src', e.target.result).removeClass('hide');
        }
        reader.readAsDataURL(input.files[0]);
      }
    });
    
    $('body').on('change','.tbl_color',function(){
      var input = this;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(input).closest('label.btn').css('background-image', "url(" + e.target.result + ")").css('background-color','transparent').children('span').remove();
        }
        reader.readAsDataURL(input.files[0]);
      }
    });
    
    $('#create_form').on('submit', function(e){
      $('#submit').text('Building...').attr('disabled', 'disabled');
    });
    
  });
  
  /*
  function handleFileSelect(evt) {
    var files = evt.target.files;

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = 
            [
            '<img style="height: 75px; border: 1px solid #000; margin: 5px" src="', 
            e.target.result,
            '" title="', escape(theFile.name), 
            '"/>'
          ].join('');

          document.getElementById('list').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  };
  document.getElementById('files').addEventListener('change', handleFileSelect, false);
  */
</script>
<link rel="stylesheet" media="screen" type="text/css" href="{{ 'colorpicker.css' | asset_url }}" />
<script type="text/javascript" src="{{ 'colorpicker.js' | asset_url }}" defer="defer"></script>


<script src="https://transloadit.edgly.net/releases/uppy/v1.20.2/uppy.min.js"></script>
<script>
  var image_array = new Array();
  const uppy = Uppy.Core({
    debug: false,
    autoProceed: false,
    restrictions: {
      maxFileSize: null,
      maxNumberOfFiles: 10,
      minNumberOfFiles: 1,
      allowedFileTypes: [".jpg", ".jpeg", ".png", ".gif"]
    }
  })
  uppy.use(Uppy.Dashboard, {
    target: '#choose-files',
    inline: true,
    //replaceTargetContent: true,
    //trigger: '#local-photos',
    //onRequestCloseModal: () => closeModal(),
  })

  uppy.use(Uppy.XHRUpload, {
    endpoint: 'https://api.panacche.com/upload/ajax_upload_file',
    formData: true,
    method: "post",
    fieldName: 'files[]',
    bundle: false
  })

  uppy.on('upload-success', (file, response) => {

    image_array.push(response.body.url);
    /*console.log(
      JSON.stringify( image_array )
    );*/
    $('#image_array').val( JSON.stringify( image_array ) );
    $('#submit').removeAttr('disabled');
    
    /*
    var all_photos = localStorage.getItem($keylocal);
    var t = response.body,
        check = false;
    check = checkphotos(all_photos);
    if (check) {
      var img = JSON.parse(localStorage.getItem($keylocal));
      var n = {
        id: "".concat(uni() + uni(), "-").concat(uni(), "-").concat(uni(), "-").concat(uni(), "-").concat(uni()).concat(uni()).concat(uni()),
        url: 'https://cipher.dakiscdn.com/i/' + t.url + '?w=1000',
        filesize: t.filesize,
        width: t.width,
        height: t.height,
        vertical: (t.height >= t.width) ? true : false

      };


      img.photos.push(n);
      localStorage.setItem($keylocal, JSON.stringify(img));
      //   location.reload();


    }
    
    */

  })
/*
  uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful);
    location.reload();
  })
*/
</script>
{% else %}
<p>This section is only for designers.</p>
{% endif %}
{% else %}
<p>Please login.</p>
<a href="/account/login">Login</a>
{% endif %}